<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>어린이 구역 확인하기</title>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
   
    <script>
        function openclose() {
            // $('#post-box').hide();
            // $('#post-box').show();
            let display = $('#map').css('display');
            if (display === 'none') {
                $('#map').show();
                $('#map-box').text("내 위치 찾기 닫기");
                $('#map-box').css({ 'color': 'white' });
            } else {
                $('#map').hide();
                $('#map-box').text('내 위치 찾기');
                $('#map-box').css({ 'color': 'white' });
            }
        }

    </script>

</head>
<script>
//  $(document).ready(function() {
//         // index.html 로드가 완료되면 자동으로 show_star() 함수를 호출합니다.
//         show_star();
//       });

//       function show_star(){
// 			  $.ajax({
// 			      type: 'GET',
// 			      url:  '/api/list',
// 			      data: {},
// 			      success: function (response) {
// 							if (response['result'] == 'success') {
//                 let stars = response['stars'];
//                 stars.forEach(function(star) {
//                   let html = `

//                   `;
//                   $('#star-box').append(html);
//                 })
// 							}
// 			      }
// 			  });
// 			}
    
</script>
<body>
    <div class="wrap">
        <div class="jumbotron">
            <h1 class="display-4">어린이 보호 구역 찾기</h1>
            <p class="lead">내 주위에 어린이 보호 구역을 볼 수 있는 공간입니다</p>
            <span>페이지 시작 시 내 위치 정보를 확인하고자 권한을 요청 할 수 있습니다. 권한 요청 시</span>
            <span style="color: red; font: bold; font-size: initial;">"허용"</span>
            <span>으로 내 위치 확인해주세요!</span>
            <hr class="my-4">
            <p class="lead">
                <button id="map-box" onclick="openclose()" class="btn btn-primary btn-lg">내 위치 지도 닫기</button>
            </p>
        </div>
        <!-- 지도를 표시할 div 입니다 -->
        <div id="map" style="width: 100%; height: 500px;"> 
            <!-- display : none 시 지도 이미지 깨지는 -->
        <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=39c03869439dbb5ecd0e6ff05d1b4d9d"></script>
        <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                    mapOption = {
                        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };

                // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
                var map = new kakao.maps.Map(mapContainer, mapOption); 

                // 마커가 표시될 위치입니다 
                var markerPosition  = new kakao.maps.LatLng(37.569094,126.9842307); 

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    position: markerPosition
                });

                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);

                // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
                if (navigator.geolocation) {

                    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                    navigator.geolocation.getCurrentPosition(function (position) {

                        var lat = position.coords.latitude, // 위도
                            lon = position.coords.longitude; // 경도

                        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                            message = '<div font-size: initial">지금 내 위치~~</div>'; // 인포윈도우에 표시될 내용입니다

                        // 마커와 인포윈도우를 표시합니다
                        displayMarker(locPosition, message);

                    });

                } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

                    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
                        message = 'geolocation을 사용할수 없어요..'

                    displayMarker(locPosition, message);
                }

                // 지도에 마커와 인포윈도우를 표시하는 함수입니다
                function displayMarker(locPosition, message) {

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: locPosition
                    });

                    var iwContent = message, // 인포윈도우에 표시할 내용
                        iwRemoveable = true;

                    // 인포윈도우를 생성합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: iwContent,
                        removable: iwRemoveable
                    });

                    // 인포윈도우를 마커위에 표시합니다 
                    infowindow.open(map, marker);

                    // 지도 중심좌표를 접속위치로 변경합니다
                    map.setCenter(locPosition);
                }    
        </script>
    </div>
</body>

</html>